footer.main-footer
	.main-footer__wrapper.container
		ul.socials
			li.socials__item
				a.socials__link.socials__link--vk(href="#" title="Вконтакте")
			li.socials__item
				a.socials__link.socials__link--fb(href="#" title="Фейсбук")
			li.socials__item
				a.socials__link.socials__link--inst(href="#" title="Инстаграм")
		.main-footer__discount
			b Давайте дружить, это выгодно!
			p Скидка 10% для друзей из социальных сетей.