header.main-header
	.container
		nav.main-nav
			a.logo
				img(src="../../images/nerds-logo.png" alt="Нёрдс")
			ul.main-nav__list
				li.main-nav__item
					a.main-nav__link(href="#") Студия
				li.main-nav__item
					a.main-nav__link(href="#") Клиенты
				li.main-nav__item
					a.main-nav__link(href="catalog.html") Магазин
				li.main-nav__item
					a.main-nav__link(href="#") Контакты
			.basket
				a.basket__link(href="#") Корзина