{
	"plugins": [
		"stylelint-scss"
	],
	"extends": "stylelint-config-standard",
	"rules": {
		"indentation": "tab",
		"string-quotes": "double",
		"no-duplicate-selectors": true,
		"color-hex-case": "lower",
		"color-hex-length": "short",
		"color-named": "never",
		"selector-no-qualifying-type": [true, {"ignore": ["attribute", "class", "id"]}],
		"selector-max-id": 0,
		"selector-combinator-space-after": "always",
		"selector-attribute-quotes": "always",
		"selector-attribute-operator-space-before": "never",
		"selector-attribute-operator-space-after": "never",
		"selector-attribute-brackets-space-inside": "never",
		"declaration-block-trailing-semicolon": "always",
		"declaration-colon-space-before": "never",
		"declaration-colon-space-after": "always",
		"number-leading-zero": "never",
		"function-url-quotes": "always",
		"font-weight-notation": "numeric",
		"font-family-name-quotes": "always-where-recommended",
		"rule-empty-line-before": ["always-multi-line", {"ignore": ["after-comment", "first-nested", "inside-block"]}],
		"selector-pseudo-element-colon-notation": "double",
		"selector-pseudo-class-parentheses-space-inside": "never",
		"media-feature-range-operator-space-before": "always",
		"media-feature-range-operator-space-after": "always",
		"media-feature-parentheses-space-inside": "never",
		"media-feature-colon-space-before": "never",
		"media-feature-colon-space-after": "always",
		"no-missing-end-of-source-newline": null,

		"max-empty-lines": 3,
		"no-empty-source": null,
		"function-comma-space-after": "always",
		"value-list-comma-newline-after": null,
		"length-zero-no-unit": null,
		"block-opening-brace-newline-after": "always",
		"block-closing-brace-empty-line-before": "never",
		"at-rule-no-unknown": null,
		"at-rule-empty-line-before": null,
		"no-descending-specificity": null,
		"declaration-colon-newline-after": null,
		"declaration-empty-line-before": null,
		"selector-type-no-unknown": null,
		"value-keyword-case": null
	}
}