mixin guideline-block(title='Заголовок страницы')
	.guideline-block
		.guideline-block__head
			.container
				.guideline-block__head-inner
					h2.guideline-block__title= title

		.guideline-block__body
			.container
				block